
body {
    background-color: #F8F5F7;
    /* #E1E1E1 */
    color: #2E3235;
}

.container {
    display: flex;
    /* flex-flow: column wrap; */
    flex-wrap: wrap;
    justify-content: center;

}

img {
  margin: 10px;
  transition: all 1s;
}

img:hover {
  transform: scale(1.1);
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    cursor: pointer;
    border-bottom: 3px solid grey;
}

nav {
  display: inline-block;
  size: 20px;
}
